/.idea/
.idea
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
*/__pycache__/*
.DS_Store
.vscode
venv
/venv/
*/.python-version
.python-version
*/tmp/*
*/tmp/**
prompts.txt
**/data_gitignore/**
*/data_gitignore/*
**/social-network-assistant/**
*/social-network-assistant/*
**/*.pth