/.idea/
.idea
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
*/__pycache__/*
.DS_Store
.vscode
venv
/venv/
*/.python-version
.python-version
*/tmp/*
*/tmp/**
prompts.txt
**/prompts.txt
prompt.txt
**/prompt.txt
**/data_gitignore/**
*/data_gitignore/*
**/social-network-assistant/**
*/social-network-assistant/*
.env
**/.env
config.yml
**/config.yml
**/tmp-download/** 
**/tmp-downloads/** 
.cursor/*
**/.cursor/*
**/.cursor/**/*
**/extensions/**/*.json
**/extensions/**/*.jsonl
**/extensions/*.json
**/extensions/*.jsonl
**/extensions/*.csv
**/extensions/**/*.csv
**/extensions/*.txt
**/extensions/**/*.txt
**/extensions/*.pth
**/extensions/**/*.pth
**/extensions/*.onnx
**/extensions/**/*.onnx
**/logs/extensions/*
**/logs/extensions/**
./logs/extensions/*
./logs/extensions/**
/logs/extensions/*
.mypy_cache/
**/.mypy_cache/*
**/.mypy_cache/**
**/.pytest_cache/**
.pytest_cache/**
.ruff_cache
**/.ruff_cache/*
**/.ruff_cache/**
.pyc
**/*.pyc
**/test_datasets/**
**/logs/*
./logs/*
./logs/**
**/logs/**
./logs/**/*
./logs/**/*.json
**/logs/**/*.json
./logs/**/*.txt
**/logs/**/*.txt
